@page
@model PPTT.Pages.Vistas.YaLogModel
@{
    ViewData["Title"] = "Cuartel General";
}
<body>    
    <div class="card-container">
        <a asp-page="/PT/Index"> <div class="card">Lista Pedidos de Trabajo</div></a>
        <a asp-page="/Administradores/Index"><div class="card">Listado de Usuarios</div></a>
        <a asp-page="/Administradores/Create"><div class="card">Alta de Usuario</div></a>
@*         <div class="card">Baja de Usuario</div>
        <div class="card">Pedidos de Trabajo</div> *@
    </div>
</body>
<footer>
    <p>Dirección de Informática - Departamento de Desarrollo y Mantenimiento de Sistemas</p>
</footer>
<style>    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-y: hidden;
    }    

    footer {        
        background-color: #1d3557; 
        color: #f1faee; 
        padding: 15px 0;
        text-align: center;
        font-size: 0.9em;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    .container {
        width: auto !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width: none !important;
    }
</style>

    