@page
@model PPTT.Pages.Vistas.YaLogModel
@{
    ViewData["Title"] = "Cuartel General";
}
<body>    
    <div class="card-container">
        <a asp-page="/PT/Index"> <div class="card">Lista Pedidos de Trabajo</div></a>
        <a asp-page="/Administradores/Index"><div class="card">Administración de Usuarios</div></a>
        <a asp-page="/Administradores/Create"><div class="card">Alta de Usuario</div></a>
@*         <div class="card">Baja de Usuario</div>
        <div class="card">Pedidos de Trabajo</div> *@
    </div>
</body>


    