@page
@model PPTT.Pages.Vistas.OrdenModel
@{
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ff;
        color: #003d6b;
        margin: 0;
        padding: 0;
    }

    form {
        width: 60%;
        margin: 30px auto;
        padding: 20px;
        background-color: #e0e8f1;
        border: 1px solid #003d6b;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 61, 107, 0.2);
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    legend {
        font-size: 1.2em;
        color: #003d6b;
        margin-bottom: 10px;
        font-weight: bold;
    }

    label,
    input[type="text"],
    select,
    .submit,
    h4 {
        font-size: 1em;
        font-weight: bold;
    }

    input[type="text"],
    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #003d6b;
        border-radius: 4px;
        background-color: white;
    }

    h4, label {
        margin-bottom: 5px; 
    }

    .submit {
        background-color: #003d6b;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .submit:hover {
            background-color: #002e5d;
        }

    h4 {
        color: #003d6b;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .custom-textarea {
        width: 100%;
        height: 150px;
        resize: none;
    }
</style>

<script>
    function actualizarOpciones() {
        var primerSelect = document.getElementById("primerSelect").value;
        var segundoSelect = document.getElementById("segundoSelect");
        segundoSelect.innerHTML = "";
        var opciones = {
            "telefonia": [
                "SIN TONO", "RUIDO EN LINEA", "TRASLADO DE LINEA", "LINEA NUEVA", "CAMBIO DE TIPO DE DISCADO, SÓLO RTI", "CAMBIO DE TIPO DE DISCADO, DISCADO DIRECTO NACIONAL C/CELULAR",
                "CAMBIO DE TIPO DE DISCADO, DISCADO DIRECTO INTERNACIONAL C/CELULAR", "CAMBIO DE APARATO", "CONFIGURACIONES ESPECIALES",
                "RELEVAMIENTO U OTROS"
            ],
            "cerrajeria": [
                "PUERTA TRABADA", "CERRADURA TRABADA", "CAMBIO DE PICAPORTE",
                "CAMBIO DE BISAGRA", "RELEVAMIENTO U OTROS"
            ],
            "plomeria": [
                "DESAGUE TAPADO", "BAÑO TAPADO", "CAMBIO DE TERMOTANQUE",
                "INSTALACION DE TERMOTANQUE", "CAMBIO DE GRIFERIA", "CAMBIO DE INODORO",
                "ARREGLO DE VALVULA DIOGENES", "PULSADORES DE MINGITORIO", "TRABAJOS DE CLOACAS",
                "MODIFICACION DE CAÑERIAS DE BAÑOS Y COCINA", "RELEVAMIENTO U OTROS"
            ],
            "pintura": [
                "BARNIZADO", "PINTURA GENERAL", "COLOCACION DE ENDUIDO", "RELEVAMIENTO U OTROS"
            ],
            "albanileria": [
                "REPARACION DE INFRAESTRUCTURA", "REVOQUE", "REMOCION DE PISO",
                "COLOCACION DE PISO", "RELEVAMIENTO U OTROS"
            ],
            "electricidad": [
                "CAMBIAR LUMINARIAS", "TOMA CORRIENTE SIN FUNCIONAR", "LUMINARIA SIN FUNCIONAR",
                "INSTALACIÓN DE TOMACORRIENTE", "INSTALACIÓN DE NUEVA LÍNEA ELÉCTRICA",
                "REEMPLAZO DE LÍNEA ELÉCTRICA", "COLOCACIÓN DE LLAVE TERMOMAGNÉTICA",
                "REEMPLAZO DE LLAVE TERMOMAGNÉTICA", "REEMPLAZO DE PLAFÓN", "COLOCACIÓN DE PLAFÓN",
                "COLOCACIÓN DE CABLE CANAL", "COLOCACIÓN DE PISO CANAL", "COLOCACIÓN DE LLAVE DE LUZ",
                "REEMPLAZO DE LLAVE DE LUZ", "COLOCACIÓN DE FOTOCÉLULA – SENSOR DE MOVIMIENTO",
                "FALLA EN INSTALACIÓN ELÉCTRICA (CORTO CIRCUITO – FUGA DE TENSIÓN)",
                "RIESGO EN LA INSTALACIÓN (CABLE A LA VISTA – RIESGO DE INCENDIO)",
                "ANULAR LÍNEA DE TENSIÓN.", "RELEVAMIENTO U OTROS"
            ],
            "herreria": [
                "SOLDADURA EN GENERAL", "RELEVAMIENTO U OTROS"
            ],
            "carpinteria": [
                "ARREGLO DE MUEBLE", "ARREGLO DE ANTEPECHO", "MODIFICACIÓN DE PUERTA", "RELEVAMIENTO U OTROS"
            ],
            "tabiqueria": [
                "MODIFICACIÓN DE OFICINA (TRASLADO DE TABIQUE)", "INSTALACIÓN DE TABIQUE NUEVO",
                "REPARACIÓN DE TECHO", "RELEVAMIENTO U OTROS"
            ],
            "durlock": [
                "REPARACION", "INSTALACION", "RELEVAMIENTO U OTROS"
            ]
        };
        var opcionesSeleccionadas = opciones[primerSelect] || [];
        for (var i = 0; i < opcionesSeleccionadas.length; i++) {
            var optio = document.createElement('option');
            optio.value = opcionesSeleccionadas[i];
            optio.innerHTML = opcionesSeleccionadas[i];
            segundoSelect.appendChild(optio);
        }
    }

    function handleSubmit() {
        window.history.back();
        return true;
    }
</script>

<body>
    <form method="post" onsubmit="return handleSubmit()">
        <fieldset>
            <legend>Orden de Trabajo</legend>
            <div>
                <label for="Apellido">Apellido:</label>
                <input type="text" id="Apellido" name="Apellido" value="" required />
            </div>
            <div>
                <label for="Nombre">Nombre:</label>
                <input type="text" id="Nombre" name="Nombre" value="" required />
            </div>
            <div>
                <label for="Correo">Correo Institucional:</label>
                <input type="text" id="Correo" name="Correo" value="" required />
            </div>
            <div>
                <label for="Numero de Control (IOSFA)">Numero de Control:</label>
                <input type="text" id="Numero de Control" name="NumeroDeControl" value="" required />
            </div>
            <h4>Grado:</h4>
            <select id="Grado" name="Grado" required>
                <option value="Civil">Civil</option>
                <option value="Soldado">Soldado</option>
                <option value="Brigadier">Brigadier</option>
            </select>
            <h4>Organismo:</h4>
            <select id="Organismo" name="Organismo" required>
                <option value="Civil">Civil</option>
                <option value="Soldado">Soldado</option>
                <option value="Brigadier">Brigadier</option>
            </select>
            <h4>Dependencia Interna:</h4>
            <select id="Dependencia Interna" name="DependenciaInterna" required>
                <option value="Civil">Civil</option>
                <option value="Soldado">Soldado</option>
                <option value="Brigadier">Brigadier</option>
            </select>
            <div>
                <label for="RTI">RTI:</label>
                <input type="text" id="RTI" name="RTI" value="" required />
            </div>
            <div>
                <label for="Numero de Oficina Solicitante">Numero de tu Oficina:</label>
                <input type="text" id="Numero de Oficina" name="NumeroDeOficina" value="" required />
            </div>
            <h4>Color de Oficina Solicitante:</h4>
            <select id="Color de Oficina" name="ColorDeTuOficina" required>
                <option value="Civil">Civil</option>
                <option value="Soldado">Soldado</option>
                <option value="Brigadier">Brigadier</option>
            </select>
            <div>
                <label for="Piso de Oficina Solicitante">Piso de tu Oficina:</label>
                <input type="text" id="Piso Oficina" name="PisoTuOficina:" value="" required />
            </div>
            <div>
                <label for="Numero de Oficina">Numero de Oficina con el Problema:</label>
                <input type="text" id="Numero de Oficina" name="NumeroDeOficinaProblema" value="" required />
            </div>
            <h4>Color de Oficina con el Problema:</h4>
            <select id="Color de Oficina" name="ColorDeOficinaProblema" required>
                <option value="Civil">Civil</option>
                <option value="Soldado">Soldado</option>
                <option value="Brigadier">Brigadier</option>
            </select>
            <div>
                <label for="Piso Oficina">Piso Oficina con el Problema</label>
                <input type="text" id="Piso Oficina" name="PisoOficinaProblema" value="" required />
            </div>
            <h4>Division de Mantenimiento:</h4>
            <select id="Division de Manenimiento" name="DivisionDeMantenimiento" required>
                <option value="Civil">Civil</option>
                <option value="Soldado">Soldado</option>
                <option value="Brigadier">Brigadier</option>
            </select>
            <div>
                <label for="primerSelect">Servicio Requerido:</label>
                <select id="primerSelect" name="ServicioRequerido" onchange="actualizarOpciones()" required>
                    <option value="">Seleccionar...</option>
                    <option value="telefonia">Telefonía</option>
                    <option value="cerrajeria">Cerrajería</option>
                    <option value="plomeria">Plomería</option>
                    <option value="pintura">Pintura</option>
                    <option value="albanileria">Albañilería</option>
                    <option value="electricidad">Electricidad</option>
                    <option value="herreria">Herrería</option>
                    <option value="carpinteria">Carpintería</option>
                    <option value="tabiqueria">Tabiquería</option>
                    <option value="durlock">Durlock</option>
                </select>
            </div>
            <div>
                <label for="segundoSelect">Detalle Servicio:</label>
                <select id="segundoSelect" name="DetalleServicio" required>
                    <option value="">Seleccionar...</option>
                </select>
            </div>
            <div>
                <label for="Observacion">Observacion:</label>
                <textarea id="observacion" name="Observacion" class="custom-textarea" required></textarea>
            </div>
            <div>
                <input type="submit" value="Enviar" class="submit">
            </div>
        </fieldset>
    </form>
</body>
