@page
@model PPTT.Pages.PT.CreatePPTT

@{
    ViewData["Title"] = "Crear Orden de Trabajo";
}

<div class="page-content">
    <div class="form-alta">
        <div class="formulario">
            <legend>Formulario Pedido de Trabajo</legend>
            <hr/>
        <form method="post">
            <fieldset>
                    <h3>Datos del Solicitante:</b></h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">                
                <select asp-for="PedidoTrabajo.ID_Grado_Fk"
                        asp-items="Model.Grados.Select(d=> new SelectListItem
                        {
                            Value = d.ID_Grado_PK.ToString(),
                            Text = d.Descripcion_Grado.ToString()
                        })"
                        id="deptSelect"
                        class="form-control"
                        required>
                    <option hidden selected value="">Seleccione el Grado</option>
                </select>
                <span asp-validation-for="PedidoTrabajo.ID_Grado_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input asp-for="PedidoTrabajo.RTI_Solicitante" class="form-control" placeholder="Número de RTI*"/>
                <span asp-validation-for="PedidoTrabajo.RTI_Solicitante" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <select asp-for="PedidoTrabajo.ID_Organismo_Fk"
                        asp-items="Model.Organismos.Select(d=> new SelectListItem
                        {
                            Value = d.ID_Organismo_PK.ToString(),
                            Text = d.Descripcion_organismo.ToString()
                        })"
                        id="orgSelect"
                        class="form-control">
                    <option hidden selected value="">Seleccione el Organismo</option>
                </select>
                <span asp-validation-for="PedidoTrabajo.ID_Organismo_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">               
                <select asp-for="PedidoTrabajo.ID_Dependencia_Interna_Fk" id="dependenciaSelect" class="form-control">
                    <option hidden select value="">Seleccione la dependencia correspondiente</option>
                </select>
                <span asp-validation-for="PedidoTrabajo.ID_Dependencia_Interna_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input asp-for="PedidoTrabajo.Correo" class="form-control" placeholder="Correo Institucional*"/>
                <span asp-validation-for="PedidoTrabajo.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input asp-for="PedidoTrabajo.Nombre_Solicitante" class="form-control" placeholder="Nombre*"/>
                <span asp-validation-for="PedidoTrabajo.Nombre_Solicitante" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input asp-for="PedidoTrabajo.Apellido_Solicitante" class="form-control" placeholder="Apellido*"/>
                <span asp-validation-for="PedidoTrabajo.Apellido_Solicitante" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input type="number" asp-for="PedidoTrabajo.DNI_Solicitante" class="form-control" placeholder="DNI*"/>
                <span asp-validation-for="PedidoTrabajo.DNI_Solicitante" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input asp-for="PedidoTrabajo.Numero_Control_Solicitante" class="form-control" placeholder="Número de Control*" />
                <span asp-validation-for="PedidoTrabajo.Numero_Control_Solicitante" class="text-danger"></span>
            </div>
            <br />
            <hr />
            @{
                // DATOS DEL TRABAJO
            }
            <h3>Datos del Pedido de Trabajo: </h3>
            <div class="form-group">                
                <select asp-for="PedidoTrabajo.ID_Division_Fk"
                        asp-items="Model.Division.Select(d=> new SelectListItem
                        {
                            Value = d.ID_Division_Pk.ToString(),
                            Text = d.Descripcion_Division
                        })"
                        id="divisionSelect"
                        class="form-control">
                    <option hidden selected value="">Seleccione División</option>
                </select>
                <span asp-validation-for="PedidoTrabajo.ID_Division_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <select id="servicioSelect" class="form-control">
                    <option hidden select value="">Seleccione el servicio correspondiente</option>
                </select>
            </div>
            <div class="form-group">                
                <select asp-for="PedidoTrabajo.ID_Tarea_Fk" id="tareaSelect" class="form-control">
                    <option hidden select value="">Seleccione la tarea correspondiente</option>
                </select>
                <span asp-validation-for="PedidoTrabajo.ID_Tarea_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <select asp-for="PedidoTrabajo.Piso_Oficina_PT" class="form-control" asp-items="Model.PisosOficina">
                    <option hidden selected value="">Seleccione el piso del pedido de trabajo</option>
                </select>
                <span asp-validation-for="PedidoTrabajo.Piso_Oficina_PT" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <input asp-for="PedidoTrabajo.Numero_Oficina_PT" class="form-control" placeholder="Número de Oficina*"/>
                <span asp-validation-for="PedidoTrabajo.Numero_Oficina_PT" class="text-danger"></span>
            </div>
            <div class="form-group">                
                <select asp-for="PedidoTrabajo.Color_Oficina_PT" class="form-control" asp-items="Model.ColoresOficina" required>
                    <option hidden selected value="">Seleccione el color del sector</option>
                </select>
                <span asp-validation-for="PedidoTrabajo.Color_Oficina_PT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PedidoTrabajo.Observacion" class="control-label"></label>
                <br/>
                <textarea asp-for="PedidoTrabajo.Observacion" class="custom-textarea"></textarea>
                <span asp-validation-for="PedidoTrabajo.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="submit-log" value="Enviar Pedido">
            </div>
            </fieldset>
        </form>        
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

        <script type="text/javascript">
            $(document).ready(function () {               
            const divisionSelect = document.getElementById('divisionSelect');           
            divisionSelect.addEventListener('change', function () {                
                const selectedDivisionId = this.value;                                
            });
                $('#servicioLabel').hide();
                $('#servicioSelect').hide();
                $('#tareaLabel').hide();
                $('#tareaSelect').hide();
                $('#divisionSelect').change(function () {                      
                    var selectedDivision = $(this).val();
                    if (selectedDivision) {
                        $.ajax({
                            url: '@Url.Page("./Create", "ServiciosByDivision")',
                            type: 'GET',
                            data: { division: selectedDivision },
                            success: function (data) {
                                var servicioSelect = $('#servicioSelect');
                                servicioSelect.empty();                                
                                servicioSelect.append('<option hidden select value = "">Seleccione el servicio correspondiente</option>< /select>')
                                $.each(data, function (index, servicio) {
                                    servicioSelect.append('<option value="' + servicio.iD_Servicio_Pk + '">' + servicio.descripcion_Servicio + '</option>')
                                })
                                $('#servicioLabel').fadeIn(500);
                                $('#servicioSelect').fadeIn(500);
                            }
                        })
                    }
                })
                $('#servicioSelect').change(function () {                
                    var selectedServicio = $(this).val();                
                    if (selectedServicio) {                        
                        $.ajax({
                            url: '@Url.Page("./Create", "TareaByServicio")',
                            type: 'GET',
                            data: { servicio: selectedServicio },
                            success: function (data) {                               
                                var tareaSelect = $('#tareaSelect');
                                tareaSelect.empty();
                                tareaSelect.append('<option hidden select value = "">Seleccione la tarea correspondiente</option>')                            
                                $.each(data, function (index, tarea) {
                                    tareaSelect.append('<option value="' + tarea.id_Tarea_Pk + '">' + tarea.descripcion_Tarea + '</option>')
                                })
                                $('#tareaLabel').fadeIn(500);
                                $('#tareaSelect').fadeIn(500);
                            }
                        })
                    }
                })
            });

            // Agregar el comportamiento para la selección de organismos y dependencias
            $(document).ready(function () {
                $('#dependenciaLabel').hide();
                $('#dependenciaSelect').hide();

                $('#orgSelect').change(function () {
                    var selectedOrganismo = $(this).val();
                    if (selectedOrganismo) {                        
                        $.ajax({
                            url: '@Url.Page("./Create", "DependenciasByOrganismo")', 
                            type: 'GET',
                            data: { organismo: selectedOrganismo },
                            success: function (data) {                                
                                var dependenciaSelect = $('#dependenciaSelect');
                                dependenciaSelect.empty();
                                dependenciaSelect.append('<option hidden select value="">Seleccione la dependencia correspondiente</option>');
                                $.each(data, function (index, dependencia) {
                                    dependenciaSelect.append('<option value="' + dependencia.iD_Dependencia_Interna_PK + '">' + dependencia.descripcion_Dependencia + '</option>');
                                });
                                $('#dependenciaLabel').fadeIn(500);
                                $('#dependenciaSelect').fadeIn(500);
                            }
                        });
                    }
                });
            });
        </script>
    <style>
        body {
            background-color: #e0e8f1;
            overflow-x: hidden;
        }        
        textarea {
            width: 100%;
        }
        h3 {
            font-size: 1.5em;
        }


    </style>
}

