@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Sistema de pedido de trabajos de la fuerza aerea</h3>
    <a asp-page="./Create">ABM USUARIOS</a>
</div>
