@page
@model PPTT.Pages.Administradores.CreateModel

@{
    ViewData["Title"] = "Crear Usuario";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ff;
        color: #003d6b;
        margin: 0;
        padding: 0;
    }

    form {
        width: 60%;
        margin: 30px auto;
        padding: 20px;
        background-color: #e0e8f1;
        border: 1px solid #003d6b;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 61, 107, 0.2);
    }

    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    legend {
        font-size: 1.2em;
        color: #003d6b;
        margin-bottom: 10px;
        font-weight: bold;
    }

    label,
    input[type="text"],
    select,
    .submit,
    h4 {
        font-size: 1em;
        font-weight: bold;
    }

    input[type="text"],
    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #003d6b;
        border-radius: 4px;
        background-color: white;
    }

    .submit {
        background-color: #003d6b;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .submit:hover {
            background-color: #002e5d;
        }

    h4 {
        color: #003d6b;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .custom-textarea {
        width: 100%;
        height: 150px;
        resize: none;
    }
</style>
<h1>Create</h1>

<h4>Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Admin.Name" class="control-label"></label>
                <input asp-for="Admin.Name" class="form-control" />
                <span asp-validation-for="Admin.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Sname" class="control-label"></label>
                <input asp-for="Admin.Sname" class="form-control" />
                <span asp-validation-for="Admin.Sname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Dni" class="control-label"></label>
                <input asp-for="Admin.Dni" class="form-control" />
                <span asp-validation-for="Admin.Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.NumeroControl" class="control-label"></label>
                <input asp-for="Admin.NumeroControl" class="form-control" />
                <span asp-validation-for="Admin.NumeroControl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Email" class="control-label"></label>
                <input asp-for="Admin.Email" class="form-control" />
                <span asp-validation-for="Admin.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Division" class="control-label"></label>
                <select asp-for="Admin.Division"
                        asp-items="Html.GetEnumSelectList<Models.DeptoEnum>()"
                        id="deptSelect"
                        class="formControl">
                    <option hidden selected value="">Seleccione el Organismo</option>
                </select>
                <span asp-validation-for="Admin.Division" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Servicio" class="control-label"></label>
                <br/>
                <select asp-for="Admin.Servicio" id="servicioSelect" class="form-control">
                    <option value="">Seleccione el servicio correspondiente</option>                    
                </select>
                <span asp-validation-for="Admin.Servicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>        
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


@section Scripts {    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script type="text/javascript">
        $(document).ready(function () {
            //Cuando se cambia el select se ejecuta la sigueinte función
            $('#deptSelect').change(function () {
                var selectedDivision = $(this).val();            
                // AJAX
                if (selectedDivision) 
                {
                    $.ajax({
                        url: '@Url.Page("./Create", "ServiciosByDivision")', //Aca esta el problema creo yo
                        type: 'GET', //Type correcto?
                        data: {division: selectedDivision},
                        success: function (data) 
                        {
                            console.log(selectedDivision); // ¡¡¡ EL TIPO DE DATO ES STRING !!!
                            var servicioSelect = $('#servicioSelect');
                            servicioSelect.empty();
                            servicioSelect.append('<option hidden selected value="">Seleccione el serv</option>')
                            console.log(data)
                            //Cannot use 'in' operator to search for 'length' -> Se le pasan valores null o undefined al $.each
                            $.each(data, function (index, servicio) 
                            {
                                servicioSelect.append('<option value="">' + servicio.text + '</option>')
                            })
                        }
                    })
                }
            })
        })    
    </script>
    
}

