@page
@model PPTT.Pages.Administradores.CreateModel

@{
    ViewData["Title"] = "Crear Usuario";
}
<h1>Create</h1>

<h4>Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Admin.Name" class="control-label"></label>
                <input asp-for="Admin.Name" class="form-control" />
                <span asp-validation-for="Admin.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Sname" class="control-label"></label>
                <input asp-for="Admin.Sname" class="form-control" />
                <span asp-validation-for="Admin.Sname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Dni" class="control-label"></label>
                <input asp-for="Admin.Dni" class="form-control" />
                <span asp-validation-for="Admin.Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.NumeroControl" class="control-label"></label>
                <input asp-for="Admin.NumeroControl" class="form-control" />
                <span asp-validation-for="Admin.NumeroControl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Email" class="control-label"></label>
                <input asp-for="Admin.Email" class="form-control" />
                <span asp-validation-for="Admin.Email" class="text-danger"></span>
            </div>
            @{/*/////////////  CARGAR DINAMICAMENTE LOS DATOS DE LA BASE DE DATOS  /////////////*/}
                            @{/*/////////////  DIVISIÓN  /////////////*/}
            <div class="form-group">
                <label asp-for="Admin.DivisionFk" class="control-label"></label>
                <select asp-for="Admin.DivisionFk"
                        asp-items="Html.GetEnumSelectList<Models.DeptoEnum>()"
                        id="deptSelect"
                        class="formControl">
                    <option hidden selected value="">Seleccione el Organismo</option>
                </select>
                <span asp-validation-for="Admin.DivisionFk" class="text-danger"></span>
            </div>
            @{/*/////////////  CARGAR DINAMICAMENTE LOS DATOS DE LA BASE DE DATOS  /////////////*/}
                            @{/*/////////////  SERVICIO  /////////////*/}
            <div class="form-group">
                <label asp-for="Admin.ServicioFk" id="servicioLabel"  class="control-label"></label>
                <br/>
                <select asp-for="Admin.ServicioFk" id="servicioSelect" class="formControl">
                    <option hidden select value="">Seleccione el servicio correspondiente</option>                    
                </select>
                <span asp-validation-for="Admin.ServicioFk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>        
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>


@section Scripts {    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#servicioLabel').hide();
            $('#servicioSelect').hide();
            //Cuando se cambia el select se ejecuta la sigueinte función
            $('#deptSelect').change(function () {
                var selectedDivision = $(this).val();            
                // AJAX
                if (selectedDivision) 
                {
                    $.ajax({
                        url: '@Url.Page("./Create", "ServiciosByDivision")', //Aca esta el problema creo yo
                        type: 'GET', //Type correcto?
                        data: {division: selectedDivision},
                        success: function (data) 
                        {
                            console.log(selectedDivision); // ¡¡¡ EL TIPO DE DATO ES STRING !!!
                            var servicioSelect = $('#servicioSelect');
                            servicioSelect.empty();
                            servicioSelect.append('<option hidden select value = "">Seleccione el servicio correspondiente</option>                            < /select>')
                            console.log(data)
                            //Cannot use 'in' operator to search for 'length' -> Se le pasan valores null o undefined al $.each
                            $.each(data, function (index, servicio) 
                            {
                                servicioSelect.append('<option value="">' + servicio.text + '</option>')
                            })
                            $('#servicioLabel').fadeIn(500);
                            $('#servicioSelect').fadeIn(550);
                        }
                    })
                }
            })
        })    
    </script>
    
}

