@page
@model PPTT.Pages.Administradores.CreateModel

@{
    ViewData["Title"] = "Crear Usuario";
}
<h3>Create</h3>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Admin.Nombre" class="control-label"></label>
                <input asp-for="Admin.Nombre" class="form-control" />
                <span asp-validation-for="Admin.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Apellido" class="control-label"></label>
                <input asp-for="Admin.Apellido" class="form-control" />
                <span asp-validation-for="Admin.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.DNI" class="control-label"></label>
                <input asp-for="Admin.DNI" class="form-control" />
                <span asp-validation-for="Admin.DNI" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <label asp-for="Admin.Numero_Control" class="control-label"></label>
                <input asp-for="Admin.Numero_Control" class="form-control" />
                <span asp-validation-for="Admin.Numero_Control" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Correo" class="control-label"></label>
                <input asp-for="Admin.Correo" class="form-control" />
                <span asp-validation-for="Admin.Correo" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="Admin.ID_Division_Fk" class="control-label"></label>
                <select asp-for="Admin.ID_Division_Fk"
                        asp-items="Model.Divisions.Select(d=> new SelectListItem
                        {
                            Value = d.ID_Division_Pk.ToString(),
                            Text = d.Descripcion_Division
                        })"
                        id="deptSelect"
                        class="formControl">
                    <option hidden selected value="">Seleccione el Organismo</option>
                </select>
                <span asp-validation-for="Admin.ID_Division_Fk" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Admin.ID_Servicio_Fk" id="servicioLabel"  class="control-label"></label>
                <br/>
                <select asp-for="Admin.ID_Servicio_Fk" id="servicioSelect" class="formControl">
                    <option hidden select value="">Seleccione el servicio correspondiente</option>                    
                </select>
                <span asp-validation-for="Admin.ID_Servicio_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>        
    </div>
</div>

<div>
    <a asp-page="Index">Volver a la Lista</a>
</div>


@section Scripts {    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#servicioLabel').hide();
            $('#servicioSelect').hide();            
            $('#deptSelect').change(function () {
                console.log("Hola");
                var selectedDivision = $(this).val();                            
                if (selectedDivision) 
                {
                    $.ajax({
                        url: '@Url.Page("./Create", "ServiciosByDivision")', 
                        type: 'GET', 
                        data: {division: selectedDivision},               
                        success: function (data) 
                        {
                            console.log("El tipo de dato es " + typeof(selectedDivision)); 
                            console.log(data);
                            var servicioSelect = $('#servicioSelect');
                            servicioSelect.empty();
                            servicioSelect.append('<option hidden select value = "">Seleccione el servicio correspondiente</option>< /select>')                                                      
                            console.log(data);
                            $.each(data, function (index, servicio) 
                            {
                                servicioSelect.append('<option value="' + servicio.iD_Servicio_Pk + '">' + servicio.descripcion_Servicio + '</option>')
                            })
                            $('#servicioLabel').fadeIn(500);
                            $('#servicioSelect').fadeIn(500);
                        }
                    })
                }
            })
        })    
    </script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff;
            color: #003d6b;
            margin: 0;
            padding: 0;
        }

        form {
            align-items: center;
            justify-content: center;
            width: 150%;
            margin: 30px auto;
            padding: 20px;
            background-color: #e0e8f1;
            border: 1px solid #003d6b;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 61, 107, 0.2);
        }

        fieldset {
            border: none;
            padding: 0;
            margin: 0;
        }

        legend {
            font-size: 1.2em;
            color: #003d6b;
            margin-bottom: 10px;
            font-weight: bold;
        }

        label,
        input[type="text"],
        select,
        .submit,
        h4 {
            font-size: 1em;
            font-weight: bold;
        }

        input[type="text"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #003d6b;
            border-radius: 4px;
            background-color: white;
        }

        input[type="number"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #003d6b;
            border-radius: 4px;
            background-color: white;
        }

        .submit {
            background-color: #003d6b;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .submit:hover {
                background-color: #002e5d;
            }

        h4 {
            color: #003d6b;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        h3 {
            font-size: 3em;
            color: #003d6b;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: bold;
        }
        .custom-textarea {
            width: 100%;
            height: 150px;
            resize: none;
        }
    </style>
}

