@page
@model PPTT.Pages.Administradores.CreateModel

@{
    ViewData["Title"] = "Crear Usuario";
}
<div class="page-content">
    <div class="form-alta">
        <div class="formulario">
            <legend>Alta de Usuario</legend>
            <hr />
            <form method="post">
                <fieldset>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row-inputs">
                    <div class="form-group">
                        <label asp-for="Admin.Nombre" class="control-label"></label>
                            <input required asp-for="Admin.Nombre" class="form-control" placeholder="Nombre" pattern="[A-Za-z\s]+" title="Solo se permiten letras y espacios." />
                        <span asp-validation-for="Admin.Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Admin.Apellido" class="control-label"></label>
                            <input required asp-for="Admin.Apellido" class="form-control" placeholder="Apellido" pattern="[a-zA-Z]" title="Solo se permiten letras." />
                        <span asp-validation-for="Admin.Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="row-inputs">
                    <div class="form-group">
                        <label asp-for="Admin.DNI" class="control-label"></label>
                            <input required asp-for="Admin.DNI" class="form-control" placeholder="Número de Documento" value="" min="1000000" max="99999999"  title="Debe ingresar al menos 8 dígitos." />
                        <span asp-validation-for="Admin.DNI" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Admin.Numero_Control" class="control-label"></label>
                            <input required asp-for="Admin.Numero_Control" class="form-control" placeholder="Número de Control" />
                        <span asp-validation-for="Admin.Numero_Control" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Admin.Correo" class="control-label"></label>
                        <input required asp-for="Admin.Correo" class="form-control" placeholder="Correo Institucional: 'correo@faa.mil.ar' " />
                    <span asp-validation-for="Admin.Correo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Admin.ID_Division_Fk" class="control-label"></label>
                    <select asp-for="Admin.ID_Division_Fk"
                            asp-items="Model.Divisions.Select(d => new SelectListItem
                                {
                                    Value = d.ID_Division_Pk.ToString(),
                                    Text = d.Descripcion_Division
                                })"
                            id="deptSelect"
                            class="form-control">
                        <option hidden selected value="">Seleccione el Organismo</option>
                    </select>
                    <span asp-validation-for="Admin.ID_Division_Fk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Admin.ID_Servicio_Fk" id="servicioLabel" class="control-label"></label>
                    <select asp-for="Admin.ID_Servicio_Fk" id="servicioSelect" class="form-control">
                        <option hidden selected value="">Seleccione el servicio correspondiente</option>
                    </select>
                    <span asp-validation-for="Admin.ID_Servicio_Fk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="submit-log" />
                </div>
                    </fieldset>
            </form>
        </div>
    </div>
    <div class="centered-button">
        @{
            int _rol = HttpContext.Session.GetInt32("UserRole") ?? 0;
        }
        @if (_rol == 3)
        {
            <a class="btn-action" asp-page="./Vistas/IndexLogueado">Volver al menú</a>
        }
        else
        {
            <a class="btn-action" asp-page="./Vistas/IndexAdmin">Volver al menú</a>
        }
        <a class="btn-action" asp-page="./Index">Ir lista de usuarios</a>
    </div>
</div>
<style>    
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }

    legend {
        font-size: 1.2em;
        color: #003d6b;
        margin-bottom: 15px;        
        text-align: center;
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('#servicioLabel').hide();
            $('#servicioSelect').hide();
            $('#deptSelect').change(function () {
                var selectedDivision = $(this).val();
                if (selectedDivision) {
                    $.ajax({
                        url: '@Url.Page("./Create", "ServiciosByDivision")',
                        type: 'GET',
                        data: { division: selectedDivision },
                        success: function (data) {
                            var servicioSelect = $('#servicioSelect');
                            servicioSelect.empty();
                            servicioSelect.append('<option hidden selected value="">Seleccione el servicio correspondiente</option>')
                            $.each(data, function (index, servicio) {
                                servicioSelect.append('<option value="' + servicio.iD_Servicio_Pk + '">' + servicio.descripcion_Servicio + '</option>')
                            });
                            $('#servicioLabel').fadeIn(500);
                            $('#servicioSelect').fadeIn(500);
                        }
                    })
                }
            })
        })
    </script>
}
