@page
@model PPTT.Pages.Administradores.EditModel

@{
    ViewData["Title"] = "Editar Usuario";
}
<div class="page-content">
    <div class="form-alta">
        <div class="formulario">
            <legend>Modificar Usuario</legend>
            <hr/>
            <form method="post" class="form-mod">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Admin.ID_Usuario_Pk" />
                <div class="form-group">                    
                    <label>Nombre: </label>
                    <input asp-for="Admin.Nombre" class="form-control" placeholder="Nombre"/>
                    <span asp-validation-for="Admin.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">      
                    <label>Apellido: </label>
                    <input asp-for="Admin.Apellido" class="form-control" placeholder="Apellido"/>
                    <span asp-validation-for="Admin.Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">       
                    <label>DNI: </label>
                    <input asp-for="Admin.DNI" class="form-control" placeholder="DNI" />
                    <span asp-validation-for="Admin.DNI" class="text-danger"></span>
                </div>
                <div class="form-group">        
                    <label>Número de Control: </label>
                    <input asp-for="Admin.Numero_Control" class="form-control" placeholder="Número de Control"/>
                    <span asp-validation-for="Admin.Numero_Control" class="text-danger"></span>
                </div>
                <div class="form-group"> 
                    <label>Correo Institucional: </label>
                    <input asp-for="Admin.Correo" class="form-control" placeholder="Correo Electrónico"/>
                    <span asp-validation-for="Admin.Correo" class="text-danger"></span>
                </div>
                <div class="form-group">   
                    <label>División: </label>
                    <select asp-for="Admin.ID_Division_Fk"
                            asp-items="Model.Divisions.Select(d => new SelectListItem
                                    {
                                        Value = d.ID_Division_Pk.ToString(),
                                        Text = d.Descripcion_Division
                                    })"
                            id="deptSelect"
                            class="form-control">
                        <option hidden selected value="">Seleccione el Organismo</option>
                    </select>
                    <span asp-validation-for="Admin.ID_Division_Fk" class="text-danger"></span>
                </div>
                <div class="form-group">     
                    <label>Servicio: </label>
                    <select asp-for="Admin.ID_Servicio_Fk" id="servicioSelect" class="form-control" required>
                        <option hidden value="">Seleccione el Servicio Correspondiente</option>
                    </select>
                    <span asp-validation-for="Admin.ID_Servicio_Fk" class="text-danger"></span>
                </div>
                <div class="form-group">           
                    <label>Roles: </label>
                    <select asp-for="Admin.ID_Rol_Fk"
                            asp-items="Model.Roles"
                            class="form-control">
                        <option hidden selected value="">Seleccione un Rol</option>
                    </select>
                    <span asp-validation-for="Admin.ID_Rol_Fk" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="submit-log" />
                </div>
            </form>
        </div>
        <div class="centered-button">
        @{
            int _rol = HttpContext.Session.GetInt32("UserRole") ?? 0;
        }
        @if (_rol == 3)
        {
            <a class="btn-action" asp-page="../Vistas/IndexLogueado">Volver al menú</a>
        }
        else
        {
            <a class="btn-action" asp-page="../Vistas/IndexAdmin">Volver al menú</a>
        }
        |
        @if (_rol == 3)
        {
            <a class="btn-action" asp-page="./Index" type="boton" class="btn-action">Volver al Listado</a>
        }
        else
        {
            <a class="btn-action" asp-page="./IndexAdminU">Volver al Listado</a>
        }
    </div>
    </div>
 </div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('#servicioLabel').hide();
            $('#servicioSelect').hide();

            // Función para cargar los servicios automáticamente al cargar la página
            function loadServicios(divisionId) {
                $.ajax({
                    url: '@Url.Page("./Edit", "ServiciosByDivision")',
                    type: 'GET',
                    data: { division: divisionId },
                    success: function (data) {
                        var servicioSelect = $('#servicioSelect');
                        servicioSelect.empty();
                        servicioSelect.append('<option hidden value="">Seleccione el servicio correspondiente</option>');
                        $.each(data, function (index, servicio) {
                            servicioSelect.append('<option value="' + servicio.iD_Servicio_Pk + '">' + servicio.descripcion_Servicio + '</option>');
                        });
                        $('#servicioLabel').fadeIn(500);
                        $('#servicioSelect').fadeIn(500);
                    }
                });
            }

            // Al cambiar la división
            $('#deptSelect').change(function () {
                var selectedDivision = $(this).val();
                if (selectedDivision) {
                    loadServicios(selectedDivision);
                }
            });

            // Cargar servicios automáticamente al cargar la página si ya hay una división seleccionada
            var initialDivisionId = $('#deptSelect').val(); // Obtiene el valor seleccionado
            if (initialDivisionId) {
                loadServicios(initialDivisionId);
            }
        });
    </script>
    <style>               
        fieldset {
            border: none;
            padding: 0;
            margin: 0;
        }

        legend {
            font-size: 1.2em;
            color: #003d6b;
            margin-bottom: 15px;
            text-align: center;
        }
    </style>
}