@page
@model PPTT.Pages.Administradores.EditModel

@{
    ViewData["Title"] = "Editar Usuario";
}
<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Admin.ID_Usuario_Pk" />
            <div class="form-group">
                <label asp-for="Admin.Nombre" class="control-label"></label>
                <input asp-for="Admin.Nombre" class="form-control" />
                <span asp-validation-for="Admin.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Apellido" class="control-label"></label>
                <input asp-for="Admin.Apellido" class="form-control" />
                <span asp-validation-for="Admin.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.DNI" class="control-label"></label>
                <input asp-for="Admin.DNI" class="form-control" />
                <span asp-validation-for="Admin.DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Numero_Control" class="control-label"></label>
                <input asp-for="Admin.Numero_Control" class="form-control" />
                <span asp-validation-for="Admin.Numero_Control" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.Correo" class="control-label"></label>
                <input asp-for="Admin.Correo" class="form-control" />
                <span asp-validation-for="Admin.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.ID_Division_Fk" class="control-label"></label>
                <select asp-for="Admin.ID_Division_Fk"
                        asp-items="Model.Divisions.Select(d=> new SelectListItem
                        {
                            Value = d.ID_Division_Pk.ToString(),
                            Text = d.Descripcion_Division
                        })"
                        id="deptSelect"
                        class="formControl">
                    <option hidden selected value="">Seleccione el Organismo</option>
                </select>
                <span asp-validation-for="Admin.ID_Division_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.ID_Servicio_Fk" id="servicioLabel" class="control-label"></label>
                <br />
                <select asp-for="Admin.ID_Servicio_Fk" id="servicioSelect" class="formControl">
                    <option hidden select value="">Seleccione el servicio correspondiente</option>
                </select>
                <span asp-validation-for="Admin.ID_Servicio_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admin.ID_Rol_Fk" class="control-label"></label>
                <br />
                <input asp-for="Admin.ID_Rol_Fk" class="form-control" />
                <span asp-validation-for="Admin.ID_Rol_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Index</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('#servicioLabel').hide();
            $('#servicioSelect').hide();            
            $('#deptSelect').change(function () {
                var selectedDivision = $(this).val();                
                if (selectedDivision) {
                    $.ajax({
                        url: '@Url.Page("./Edit", "ServiciosByDivision")',
                        type: 'GET',
                        data: { division: selectedDivision },
                        success: function (data) {
                            console.log("El tipo de dato es " + typeof (selectedDivision)); // El tipo de dato recibido es string
                            var servicioSelect = $('#servicioSelect');
                            servicioSelect.empty();
                            servicioSelect.append('<option hidden select value = "">Seleccione el servicio correspondiente</option>< /select>')
                            console.log(data);
                            $.each(data, function (index, servicio) {
                                servicioSelect.append('<option value="' + servicio.iD_Servicio_Pk + '">' + servicio.descripcion_Servicio + '</option>')
                            })
                            $('#servicioLabel').fadeIn(500);
                            $('#servicioSelect').fadeIn(500);
                        }
                    })
                }
            })
        })
    </script>

}

